@import "../../variables";

.modal-yellow {
    width: 500px;
    height: 250px;
    background-color: $yellow_body;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $in_yellow_text;
    border: none;
    border-radius: 7px;
    position: relative;
    display: grid;
    grid-template-rows: 65px 1fr 65px;
}

.modal-header-yellow {
    background-color: $yellow_header;
}

.btn-footer-yellow {
    background-color: $yellow_footer;
    color: white;
 
}