
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: inherit;
}

.modalHead {
  padding-top: 1px;
  border-radius: 7px 7px 0 0 ;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalFooter {
  display: flex;
  justify-content: space-evenly;
}

.btn-footer {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px
}

.paragraph {
  text-align: center;
}