
.btn-group {
  margin: 400px auto;
  width: 470px;
  display: flex;
  justify-content: space-between;

}

.btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;


}
