@import "../../variables";

.modal-red {
    width: 500px;
    height: 250px;
    background-color: $red_body;
    font-family: 'Inter', sans-serif;
    color: $in_red_text;
    border: none;
    border-radius: 7px;
    position: relative;
    display: grid;
    grid-template-rows: 65px 1fr 65px;
}

.modal-header-red {
    background-color: $red_header;
}

.btn-footer-red {
    background-color: $red_footer;
    color: inherit;
}